.about-content {
    margin-top: 75px;
}

.profile-pic {
  display: block;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin: 0 auto;
}

.profile-title,
.profile-details {
  text-align: center;
}

.contact-btn {
  display: block;
}