nav {
	box-shadow: none;

	ul a {
		color: black;
	}

  ul a:hover {
    background-color: #81c784;
  }
}

nav a.active {
	background-color: #81c784;
  color: white;
}

.nav-wrapper > ul.right {
  margin-right: 15%;
}