@import '../../colors';

.article-title {
  color: $primary-lighten-2;
}

hr.seperator{
  background-color: $primary-lighten-2;
  border: 0;
  height: 5px;
  width: 8%;
  margin-left: 0px;
}

p.read-more-link {
  color: rgba(0,0,0,.3);
}

p.read-more-link:hover {
  color: black;
}