@import '../colors';

nav {
	box-shadow: none;

	ul a {
		color: $black;
	}

  ul a:hover {
    background-color: $primary-lighten-2;
  }
}

nav a.active {
    background-color: $primary-lighten-2;
    color: $white;
}

.nav-wrapper > ul.right {
    margin-right: 15%;
}
