.contact-phone-icon,
.contact-email-icon,
.contact-location-icon {
	vertical-align: middle;
	margin: 0px 10px 10px 0px;
}

.social-media-icons li {
	display: inline;
	margin-right: 10px;
}

.social-media-icons li a {
	color: black;
}

.phone-link,
.email-link {
	color: #26a69a;
}